@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2018-08-14 09:21:12
 * @version $Id$
 */
.content .about{width: 1920px;height: auto;background: url(../img/about_background.png);position: relative; left: 50%;margin-left: -960px;}
.content .about .main{width: 1010px;height: auto;margin: 0 auto;padding: 40px 95px 230px 95px;clear: both;}
.content .title{width: 1010px; height: 80px;text-align: center;}
.content .title h2{height: 26px; font-family: "微软雅黑";font-size: 24px;color: #ffffff;line-height: 26px}
.content .title b{font-family: "Arial";font-size: 14px;color: #ffffff;text-transform: uppercase;letter-spacing: 2px;}
.content .about .main ul{width: auto;height: 30px;color: #ffcc33;text-align: center;margin-bottom: 30px;}
.content .about .main li{width: 100px;height: 30px;display: inline-block;margin: 0px 112px;}
.content .about .main li a{width: 100px;height: 30px; display: block;border-radius: 15px;background: #ffffff; font-family: "微软雅黑";font-size: 18px;color: #666666;line-height: 30px;behavior: url(js/PIE.htc); position: relative;}
.content .about .main li a:hover{color: #ffcc66;}
.content .about .main li a.on{color: #ffcc66;}
.content .about .main h3{height: 37px;line-height: 37px; font-family: "微软雅黑";font-size: 20px;color: #ffffff;border-left: 5px solid #ffffff;padding-left: 13px;}
.content .about .main_text{width: 100%; height: auto;padding: 8px 0px;}

.content .about .main_text h5{ font-family: "微软雅黑";font-size: 20px;color: #ffffff;padding: 13px 0px;line-height: 20px}
.content .about .main_text p{font-family: "微软雅黑";font-size: 14px;color: #ffffff;text-align: justify;line-height: 26px;}

.content .contact{width: 1200px;margin: 0 auto;padding-bottom: 102px;}
.contact .join{width: 460px;height: 206px;background: #ffff00;border-radius: 14px;margin: 56px auto 0 auto; padding: 45px;text-align: center; box-shadow: 0px 18px 57px #663300;behavior: url(js/PIE.htc); position: relative;}
.contact .join h4{height: 54px;line-height: 54px; font-family: "微软雅黑";font-size: 38px;color: #000000;letter-spacing: 12px;}
.contact .join p{font-family: "微软雅黑";font-size: 14px;color: #000000;text-transform: uppercase;height: 36px;line-height: 36px;letter-spacing: 3px;word-spacing: 6px}

.contact .join a{display: block;width: 75px;height: 25px;border-radius: 6px;border: 1px solid #000000;margin: 0 auto;line-height: 25px;color: #000000;margin-top: 35px;behavior: url(js/PIE.htc); position: relative;}

