@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2018-08-14 12:46:57
 * @version $Id$
 */


.news_list ol{width: 1000px;height: auto;padding: 0 100px;margin: 0 auto 47px auto;}
.news_list ol li{width: 960px; height: 160px;background: #ffffff;margin-bottom: 3px;padding: 20px;position: relative; }
.news_list ol li:hover h2 a{color: #ffcc33;}

.news_list ol li .pic{width: 225px;height: 160px;margin-right: 20px;display: block;float: left;}
.news_list ol li img{float: left;width: 225px ;height: 160px;}
.news_list ol li h2 {font-family: "微软雅黑";font-size: 24px;color: #333333;height: 26px;line-height: 26px;}
.news_list ol li b{display: block;font-family: "微软雅黑";font-size: 12px;color: #999999;padding: 3px 0px 6px 0px;}
.news_list ol li span{font-family: "Arial";padding-left: 5px;}
.news_list ol li p{font-family: "微软雅黑";font-size: 14px;color: #999999;line-height: 21px;text-align: justify;}
.news_list ol li a.more{display: block;width:78px;height: 25px;font-family: "微软雅黑";font-size: 14px;color: #ffffff;background:#ffcc33;text-align: center;line-height: 25px;border-radius: 8px;position: absolute;right: 20px;bottom: 20px;behavior: url(js/PIE.htc);}

.news_list .page{width: 1200px;height: 20px;text-align: center;margin: 0 auto;font-size: 0px;}
.news_list .page li{width: auto;height: 20px;display: inline-block;margin: 0px 5px;font-family: "微软雅黑";font-size: 14px;color: #000000;line-height: 20px;}
.news_list .page li a{display: block; font-family: "微软雅黑";font-size: 14px;color: #000000;line-height: 20px;padding: 0px 4px;}
.news_list .page li a:hover{color: #ffffff;background: #ffcc33;}
.news_list .page li a.on{color: #ffffff;background: #ffcc33;}
