@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2018-08-14 16:23:30
 * @version $Id$
 */


.content .news_list .main{width: 1000px;height: auto; margin: 0 auto;background: #ffffff; box-shadow: 0px 43px 32px #666666;behavior: url(js/PIE.htc); position: relative;}
.news_list .main .top{width: 960px;height: 84px;border-bottom: 2px solid #cccccc;padding: 30px 0px 0px 40px;}
.news_list .main h1{font-family: "微软雅黑";font-size: 32px;color: #000000;height: 40px;line-height: 40px;}
.news_list .main b{display: block;font-family: "微软雅黑";font-size: 12px;color: #999999;padding-top: 5px;}
.news_list .main span{font-family: "Arial";font-size: 12px;color: #999999;padding-left: 5px;}

.news_list .center{width: 924px;height: auto;padding: 38px;border-bottom: 3px solid #666666;}
.news_list .center img{width: 470px;height: 400px;padding-bottom: 40px;}
.news_list .center p{font-family: "微软雅黑";font-size: 14px;color: #000000;line-height: 26px;padding: 9px 0px;text-indent: 2em;}

.news_list .bottom{width: 924px;height: 57px;padding: 20px 38px 38px 38px;position: relative;}
.news_list .bottom ol li{font-family: "微软雅黑";font-size: 14px;color: #000000;width: auto; height: 26px;line-height: 26px;padding: 4px 0px;}
.news_list .bottom ol li a:hover{color: #ffcc66}

.news_list .bottom ul{width: auto;height: 31px; float: right;position: absolute;right: 38px;bottom: 42px}
.news_list .bottom ul li{width: 31px;height: 31px; margin-left: 5px;float: left;}


