@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2018-08-14 16:26:56
 * @version $Id$
 */
.content .news_list{width: auto; height: auto;background: #eee4e4;padding: 50px 0px 70px 0px;}
.content .sidebar{width: 1200px;height: 35px;margin: 0 auto;}
.content .sidebar_list{width: auto;height: 35px;text-align: center;}
.content .sidebar_list li{height: 35px; display: inline-block;margin: 0px 30px;}
.content .sidebar_list li a{height: 33px;display: block;font-family: "微软雅黑";font-size: 18px;color: #669999;line-height: 33px;}
.content .sidebar_list li a:hover{border-bottom: 2px solid #ffcc33;}
.content .sidebar_list li a.current{border-bottom: 2px solid #ffcc33;}

