@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2018-08-14 22:08:51
 * @version $Id$
 */
.content .news_list{width: auto; height: auto;background: #eee4e4;padding: 90px 0px 104px 0px;}
.content .sidebar{width: 1200px;height: 35px;margin: 0 auto;}
.content .sidebar_list{width: auto;height: 35px;text-align: center;}
.content .sidebar_list li{height: 35px; display: inline-block;margin: 0px 30px;}
.content .sidebar_list li a{height: 33px;display: block;font-family: "微软雅黑";font-size: 18px;color: #669999;line-height: 33px;}
.content .sidebar_list li a:hover{border-bottom: 2px solid #ffcc33;}
.content .sidebar_list li a.current{border-bottom: 2px solid #ffcc33;}


.content .news_list .main{width: 1000px;height: auto; margin: 0 auto;background: #ffffff; box-shadow: 0px 1px 54px #666666;behavior: url(js/PIE.htc); position: relative;}
.news_list .main .top{width: 900px;height: auto;padding: 40px 50px;border-bottom: 2px solid #b3afaf;}
.news_list .main .top .show{width: 898;height: 205px;border: 1px solid #b3afaf;margin-bottom: 6px;}
.news_list .show .left{width: 300px;height: 160px;border-right: 1px solid #b3afaf;text-align: center;padding: 23px 0px 22px 0px; float: left;}
.news_list .show .left img{width: 240px; height: 160px;}
.news_list .show .right{width: 597px;height: 205px;float: left;}
.news_list .show .right b{display: block; font-family: "微软雅黑"; font-size: 18px;color: #544c4c;height: 26px; line-height: 26px;padding: 23px 0px 17px 18px;}
.news_list .main .top p{font-family: "微软雅黑"; font-size: 14px;color: #544c4c;line-height: 24px;text-indent: 2em;padding: 13px 0px;}

.news_list .main .top ol li{display: block; font-family: "微软雅黑";font-size: 14px;color: #000000;width: auto; height: 28px;line-height: 28px;padding-top: 10px}
.news_list .main .top ol li a:hover{color: #ffcc66}

.news_list .main .bottom{width: 900px;height: auto;padding: 14px 50px 50px 50px;overflow: hidden;}
.news_list .main .bottom h3{font-family: "微软雅黑";font-size: 24px;color: #544c4c;padding-bottom: 30px;line-height: 24px;}
.news_list .main .bottom i{font-family: "Arial";font-size: 18px;color: #544c4c; padding-left: 8px;}

.news_list .main .bottom ul{width: 960px;height: 185px;}
.news_list .main .bottom ul li{width: 260px;height: 185px;margin-right: 60px; float: left;}
.news_list .main .bottom ul li img{width: 260px;height: 150px;float: left;}
.news_list .main .bottom ul li h4{font-family: "微软雅黑"; font-size: 18px;color: #544c4c;text-align: center;line-height: 35px}


